#1.write a code to a string with your name and print it.

In [ ]:
Name = "Deep"
print(Name)

Deep

#2. write a code to find the length of the string "Hello World".

In [ ]:
len("Hello World")

11

#3. write a code to slice the frist 3 characters from the string "python programming".

In [ ]:
string="python programming"
slice=string[:3]
print(slice)

pyt

#4.write a code to convert the string "hello" to uppercase.

In [1]:
string = ("hello")
uppercase_string = string.upper()
print(uppercase_string)

HELLO

#5.write a code to replace the word "apple" with "orange" in the string "i like apple".

In [2]:
string = "i like apple"
new_string = string.replace("apple", "orange")
print(new_string)

i like orange

#6.write a code to create a list with number 1 to 5 and print it.

In [3]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

#7. write a code to append the number 10 to the list[1,2,3,4].

In [5]:
number = [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

#8.write a code to remove the number 3 from the list [1,2,3,4,5]

In [6]:
number = [1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

#9. write a code to access the second element in the list ['a','b','c','d']

In [7]:
mylist = ['a','b','c','d']
print(mylist[1])

b

#10.write a code to reverse the list [10,20,30,40,50]

In [13]:
mylist = [10,20,30,40,50]
mylist.reverse()
print(mylist)

[50, 40, 30, 20, 10]

#11. write a code to creat a tuple with the elements 100,200,300 and print it.

In [16]:
mytuple = (100,200,300)
print(mytuple)

(100, 200, 300)

#12.write a code to access the second-to-last element of the tuple('red','green','blue','yellow')

In [19]:
mytuple = ('red','green','blue','yellow')
print(mytuple[1:4])

('green', 'blue', 'yellow')

#13.write a code to find the minimum number in the tuple(10,20,5,15)

In [20]:
mytuple = (10,20,5,15)
print(min(mytuple))

5

#14.write a code to find the indexof the element"cat" in the tuple('dog','cat','rabbit')

In [21]:
mytuple = ('dog','cat','rabbit')
find = mytuple.index('cat')
print(find)

1

#15.write a code to create a tuple containing three different fruits and check if "kiwi"is in it.

In [22]:
mytuple = ('apple','banana','orange')
find = 'kiwi' in mytuple
print(find)

False

#16.write a code to create a set with the elements 'a','b','c', and print it.

In [23]:
set = {'a','b','c'}
print(set)

{'a', 'b', 'c'}

#17.write a code to clear all elements from the set {1,2,3,4,5}.

In [24]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

#18.write a code to remove the element 4 from the set{1,2,3,4,}.

In [25]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

#19.write a code to find the union od two sets{1,2,3}and{3,4,5}.

In [26]:
set1 = {1,2,3}
set2 = {3,4,5}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

#20.write a code to find the intersection of two sets{1,2,3}and{2,3,4}.

In [27]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

#21.write a code to create a dictionary with the key "name","age","city",and print it.

In [28]:
mydict = {"name":"Deep","age":20,"city":"Dhanbad"}
print(mydict)

{'name': 'Deep', 'age': 20, 'city': 'Dhanbad'}

22.write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'Alice','age':30}.

In [30]:
mydict = {'name':'john','age':25}
mydict['country'] = 'USA'
print(mydict)

{'name': 'john', 'age': 25, 'country': 'USA'}

#23.write a code to access the value associated with the key "name" in the dictionary {'name':alice,'age':30}.

In [31]:
mydict = {'name':'alice','age':30}
print(mydict['name'])

alice

#24.write a code to remove the key"age" from the dictionary {'name':'Bob','age':22','city':'New york'}.

In [33]:
mydict = {'name':'Bob','age':22,'city':'New York'}
del mydict['age']
print(mydict)

{'name': 'Bob', 'city': 'New York'}

#25. write a code to check if the key "city" exists in the dictionary {'name':'alice','city':'paris'}

In [38]:
mydict = {'name':'alice','city':'paris'}
if 'city' in mydict:
  print("city exists")
else:
  print("city does not exist")

city exists

#26.write a code to create a list, a tuple, and a dictionary, and print them all.

In [39]:
mylist = [1,2,3,4,5]
mytuple = (1,2,3,4,5)
mydict = {'name':'alice','age':30}
print(mylist)
print(mytuple)
print(mydict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'alice', 'age': 30}

#27.write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order ,and print the result.(replaced)

In [46]:
import random
random_numbers = random.sample(range(1,101),5)
print("sorted randomnumbers:",random_numbers)
sorted(random_numbers)

sorted randomnumbers: [33, 54, 44, 28, 27]

[27, 28, 33, 44, 54]

#28.write a code to create a list with strings and print the element at the third index.

In [47]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

#29.write a code to combine two dictionaries into one and print the result.

In [48]:
dict =  {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}
combined = {**dict, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30. write a code to convert a list of string into a set.

In [2]:
string_list = ["apple","banana","cherry","apple","banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}